body {
  margin: 0;
  width: 100%;
  font-family: "Lora";
}

@font-face {
  font-family: "Lora";
  src: url("../assets/fonts/Lora/static/Lora-Regular.ttf");
}

.scroll-item:hover {
  width: 300;
  height: 440;
}

@media (min-width: 768px) {
  .home-image {
    max-width: 100;
  }
}

@media (min-width: 1200px) {
  .home-image {
    max-width: 500;
  }
}

@media (min-width: 5000px) {
  .home-image {
    max-width: 500;
  }
}